body {
  font-family: Arial, sans-serif;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

#pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#pokemon-detail img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}